/* Tablet Screens */
@media screen and (max-width: 768px) {

}

/* Mobile Screens */
@media screen and (max-width: 426px) {
    /* Shared */
    .title-text {
        font-size: 24px;
    }
    
    /* navbar section */
    .nav-container{
        flex-direction: column;
        margin-top: 50px;
    }

    .nav-items-container{
        flex-direction: column;
        width: 100%;
    }

    .nav-items-container a{
        margin-top: 20px;
    }

    .nav-items-container .login-btn {
        width: 60%;
        margin-bottom: 10px;
    }

    /* banner section */
    .banner-container{
        flex-direction: column-reverse;
        margin: 10px auto 0;
    }
    .banner-text{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .banner-img{
        width: 100%;
    }
    
    .banner-text p{
        font-size: 20px;
    }

    /* we are gamer section */
    .we-are-gamer-container{
        flex-direction: column;
        margin: 10px auto 0;
    }
    .we-are-gamer-text{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .we-are-gamer-img{
        width: 100%;
    }
    
    .we-are-gamer-text p{
        font-size: 20px;
    }

    /* online games section */
    .online-games-title{
        display: block;
        width: 380px;
        text-align: center;
        margin-top: 30px;
    }

    .online-games-cards{
        grid-template-columns: 1fr;
        padding: 30px;
    }

    /* Links card */
    .games-link-container {
        margin-top: 100px;
        padding: 50px 10px;
    }
    .games-link-cards{
        grid-template-columns: repeat(3, 1fr);
        gap: 2px;
    }

    .link-card{
        padding: 0;
    }

    .link-card img{
        width: 15px;
        height: auto;
    }
    
    .link-card-text{
        font-size: 10px;
    }
}