/* Tablet Screens */
@media screen and (max-width: 768px) {
    /* Links card */
    .games-link-container {
        margin-top: 100px;
        padding: 50px 10px;
    }
    .games-link-cards{
        grid-template-columns: repeat(3, 1fr);
        gap: 2px;
    }

    .online-games-cards{
        margin: 20px auto 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    .online-games-container {
        display: block;
        height: auto;
    }
}

/* Mobile Screens */
@media screen and (max-width: 426px) {
    /* Shared */
    .title-text {
        font-size: 24px;
    }
    
    /* navbar section */
    .nav-container{
        flex-direction: column;
        margin-top: 50px;
    }

    .nav-items-container{
        flex-direction: column;
        width: 100%;
    }

    .nav-items-container a{
        margin-top: 20px;
    }

    .nav-items-container .login-btn {
        width: 60%;
        margin-bottom: 10px;
    }

    /* banner section */
    .banner-container{
        flex-direction: column-reverse;
        margin: 10px auto 0;
    }
    .banner-text{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .banner-img{
        width: 100%;
    }
    
    .banner-text p{
        font-size: 20px;
    }

    /* we are gamer section */
    .we-are-gamer-container{
        flex-direction: column;
        margin: 10px auto 0;
    }
    .we-are-gamer-text{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .we-are-gamer-img{
        width: 100%;
    }
    
    .we-are-gamer-text p{
        font-size: 20px;
    }

    /* online games section */
    .online-games-container {
        height: auto;
    }
    .online-games-title{
        display: block;
        width: 380px;
        text-align: center;
        margin-top: 30px;
    }

    .online-games-cards{
        grid-template-columns: 1fr;
        padding: 30px;
    }
    /* Play instantly Section */
    .play-instant-container{
        flex-direction: column;
    }

    .play-instant-img{
        width: 100%;
    }

    .play-instant-text {
        width: 85%;
        text-align: center
    }

    /* Play games Section */
    .play-games-container{
        flex-direction: column-reverse;
    }

    .play-games-img{
        width: 100%;
    }

    .play-games-text {
        width: 85%;
        text-align: center;
    }

    /* Links card */
    .games-link-container {
        margin-top: 100px;
        padding: 50px 10px;
    }
    .games-link-cards{
        grid-template-columns: repeat(3, 1fr);
        gap: 2px;
    }

    .link-card{
        padding: 0;
    }

    .link-card img{
        width: 15px;
        height: auto;
    }
    
    .link-card-text{
        font-size: 10px;
    }
    /* Footer Section */
    .footer-menu1 {
        width: 98%;
    }

    .footer-container .footer-menu1 a {
        font-size: 10px;
    }

    .footer-container .footer-menu2 a {
        font-size: 8px;
    }

    .copyright {
        font-size: 10px;
    }
}