/* Root Styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}

:root {
    --primary-pink: #FF42A5;
    --primary-blue: #4EC5F7;
    --text-light: #534C64;
    --text-dark: #0B0223;
}

/* Shared Styles */


/* Nav Container */
.nav-container{
    min-height: 130px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.logo-container{
    display: flex;
    align-items: center;
    width: 65%;
}

.logo-container img{
    width: 87px;
    object-fit: cover;
    margin-right: 10px;
}

.logo-container p{
    font-size: 45px;
    font-weight: bold;
    color: var(--text-dark);
}

.logo-container .logo-color{
    color: var(--primary-pink);
 }

.nav-items-container{
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items-container a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav-items-container .login-btn {
    background-color: #0b02231f;
    padding: 15px 30px;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
}

.nav-items-container img{
    width: 15px;
    object-fit: cover;
}

/* Banner Section */
.banner-container{
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    min-height: 700px;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.banner-text{
    width: 50%;
}

.banner-img{
    width: 50%;
}

.banner-img img{
    width: 100%;
    height: 100%;
}

.banner-text .banner-text-heading{
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-dark);
}

.banner-text h1 {
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 95px;
    font-weight: 800;
}

.banner-text p {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-light);
    margin-top: 15px;
}

.banner-text p>img {
    margin-right: 10px;
}

.banner-btn{
    padding: 15px 30px;
    border-radius: 50px;
    margin-right: 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
}

.btn-pink{
    background-color: var(--primary-pink);
    border: 2px solid var(--primary-pink);
}

.btn-blue{
    background-color: var(--primary-blue);
    border: 2px solid var(--primary-blue);
}

/* We Are Gamer Section */
.we-are-gamer-section{
    background-color: #ff42a40f;
}

.we-are-gamer-container{
    max-width: 1400px;
    min-height: 600px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.we-are-gamer-img{
    width: 60%;
    position: relative;
}

.we-are-gamer-img img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.we-are-gamer-text{
    width: 40%;
    text-align: right;
    align-items: center;
    margin: 0 auto;
    color: var(--text-light);
}

.we-are-gamer-text h3{
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 48px;
    font-weight: 700;
}

.we-are-gamer-text p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    padding-top: 20px;
}

.we-are-gamer-text .quote{
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    margin-top: 20px;
}

.we-are-gamer-text .quote span{
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}